@import 'variables';
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.header_content {
    display: flex;
    flex-direction: column;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header_body {
    margin-top: 15%;
    margin-right: 50%;
    padding: 1em;
    border: 1px solid white;
}

.header_title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}

.menu-nav {
    @include flexCenter;
    list-style: none;
    li a {
        padding: 15px;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        color: white;
        position: relative;
        &:hover::after {
            content: "";
            position: absolute;
            bottom: -0.5em;
            left: 50%;
            height: 2px;
            width: 50%;
            transform: translate(-50%);
            background-color: white;
        }
    }
}

.menu-icon {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: white;
    display: none;
}

.menu-icon:hover {
    cursor: pointer;
}


/*.header-nav {
    display: none;
} */


/* HAMBURGER 

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu-btn_lines,
.menu-btn_lines::before,
.menu-btn_lines::after {
    width: 1.5rem;
    height: 0.2rem;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.menu-btn_lines::before,
.menu-btn_lines::after {
    position: absolute;
    content: " ";
}

.menu-btn_lines::before {
    transform: translateY(-0.5rem);
}

.menu-btn_lines::after {
    transform: translateY(0.5rem);
}*/


/*ANIMATIONS

.menu-btn.open .menu-btn_lines {
    transform: translateX(2rem);
    background-color: transparent;
}

.menu-btn.open .menu-btn_lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}

.menu-btn.open .menu-btn_lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}*/